@using System.Collections
@using Kendo.Mvc.UI;

@model USAS.Samples.SitefinityMvc.Mvc.Models.GreekPartnerModel

<ul class="errors"></ul>

<div id="edit-popup" style="margin:30px">
    <div class="form-group">
        @Html.LabelFor(model => model.PartnerName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PartnerName)
            @Html.ValidationMessageFor(model => model.PartnerName)
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.UserSignupPledge, new { @class = "control-label col-md-2" })
        <a id="helpLink" style="font-size:9pt" href="#">What is this?</a> 
        <div id="helpDetails"></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserSignupPledge)
            @Html.ValidationMessageFor(model => model.UserSignupPledge)
        </div>
    </div>
    


</div>

<script>
    $('#helpLink').click(function (e) {
        var userName = $(this).val();
        e.stopPropagation();
        $.ajax({
            type: "GET",
            url: "/GreekPartner/PartnerAdmin/HelpDetails",
            datatype: "html",
            success: function (data) {
                $('#helpDetails').html(data);                
            }
        });
    });
</script>

